.icons
{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
     margin: 50px 45%;
}

.icons img
{
     width: 50px;
}

.form
{
    margin: 50px 0;
}

input[type=text], textarea
{
    font-family: 'Roboto',sans-serif;
    width: 20%;
    min-width: 250px;
    padding: 12px; /* Some padding */
    border: 1px solid grey; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 5px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea
{
    height: 150px;
}

input[type=submit]
{
    font-family: 'Roboto',sans-serif;
    width: 20%;
    min-width: 250px;
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover
{
     background-color: white;
     color: grey;
     border: 1px solid grey;
}
