body
{
     font-family: 'Roboto',sans-serif;
     margin: 0;
     padding: 0;
}

h1
{
     font-family: 'Prompt',sans-serif;
}

div
{
     /* border: 1px solid black; */
}

a
{
     text-decoration: none;
     color: black;
}

.container
{
     display: flex;
     /* justify-content: space-between; */
     text-align: center;
     position: relative;
}

.sidebar
{
     width: 170px;
     position: fixed;
     left: 40px;
     bottom: 20px;
}

.logo h1
{
     margin: 0;
     padding: 20px 0;
     text-align: left;
     font-size: 40px;
     font-weight: 100;
}

.cell
{
     height: 40px;
     text-align: left;
     font-size: 25px;
     font-weight: 100;
}

.cell a
{
     text-decoration: none;
     color: black;
}

.cell a:hover  {color: grey;}

.main
{
     width: 100%;
     padding-left: 0;
     text-align: center;
     margin-top: 20px;
     font-weight: 100;
}

.main p
{
    margin: 0 30%;
    font-size: 22px;
}

@media  (max-width: 800px)
{
     .sidebar
     {
          display: none;
     }
}
