body
{
     font-family: 'Roboto',sans-serif;
     margin: 0;
     padding: 0;
}

h1
{
     font-family: 'Prompt',sans-serif;
}

/* div {border: 1px solid black;} */

a
{
     text-decoration: none;
     color: black;
}

.container
{
     display: flex;
     /* justify-content: space-between; */
     text-align: center;
     position: relative;
}

.sidebar
{
     width: 170px;
     position: fixed;
     left: 40px;
     bottom: 20px;
}

.logo h1
{
     margin: 0;
     padding: 20px 0;
     text-align: left;
     font-size: 40px;
     font-weight: 100;
}

.cell
{
     height: 40px;
     text-align: left;
     font-size: 25px;
     font-weight: 100;
     transition: transform 300ms ease-in-out;
}

.cell:hover
{
     transform: translate(20px);
}

.cell a
{
     text-decoration: none;
     color: black;
}

.cell a:hover  
{
     color: grey;
}

.main
{
     width: 100%;
     padding-left: 0;
     text-align: center;
     margin-top: 20px;
     font-weight: 100;
}

.main p
{
    margin: 0 30%;
    font-size: 22px;
}

.main .main_logo
{
     display: none;
}

/* BELOW HERE, I SETUP THE RESPONSIVE MENU */
label
{
     margin: 0 40px 0 0;
     font-size: 26px;
     line-height: 70px;
     width: 26px;
     float: right;
}

#toggle {display: none;}
.hamburguer {display: none;}

@media  (max-width: 800px)
{
     /* Here I change the margins of the main text, because they get very small in small screens, so I fix that */
     .main p
     {
         margin: 0 10%;
         font-size: 22px;
     }

     .main .main_logo
     {
          display: block;
          margin-top: 100px;
     }

     label {cursor: pointer;}
     .sidebar {display: none;}

     .hamburguer
     {
          background-color: white;
          width: 100%;
          position: fixed;
          display: block;
          text-align: right;
          height: 70px;
          border-bottom: 1px solid #EAEAEB;
     }

     .menu
     {
          margin-top: 90px;
          text-align: right;
          width: 100%;
          display: none;
     }

     .cell
     {
          background-color: white;
          text-align: right;
          margin-right: 40px;
     }

     #toggle:checked + .menu {display: block;}
     .main {margin-top: 70px;}
}
